.wrapper{
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
}

.bulb{
    height: 95px;
    width: 95px;
    background-color: grey;
    border-radius: 60%;
}

.switch{
    margin-top: 100px;
    width: 95px;
    height: 50px;
    background-color: violet;
}