.AppWrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 300px;
  height: auto;
  margin:100px auto;
  border: 2px solid yellowgreen;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
